<h1>Editing Cadastro Plano De Voo</h1>

<%= render 'form', cadastro_plano_de_voo: @cadastro_plano_de_voo %>

<%= link_to 'Show', @cadastro_plano_de_voo %> |
<%= link_to 'Back', cadastro_plano_de_voos_path %>
